:root {
    --backround-color: #fff4ec;
    --primary-color: #9F2B68;
    --secondary-color:  #476730;
    --font-color:  #313131;
    --box-shadow: rgb(0, 0, 0, 0.3) 0px 2px 2px 0;
  }

body{
    background-color: var(--backround-color);
   
}
#container{
    margin-left: 13%;
   margin-right: 13%;

}
#container-2{
    margin-left: 13%;
   margin-right: 13%;

}
.navbar{
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;
    font-size: 16px;
  
    margin: 0 12.5% 0;
    background-color: var(--backround-color);
}


header{
    
    margin-top: 100px;
}

h1 {display: flex;
   flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;


}
h2{font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
margin-top: 40px;
}
h3{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 40px;
}
h2 span{
    color: var(--primary-color);
    font-style: italic;
}

.navbar ul a{
    margin-left: 10px;
    margin-right: 10px;
}
.navbar .dropdown-menu{
    background-color: var(--backround-color);
    border: none;
    box-shadow: var(--box-shadow);
}
.navbar .dropdown-item{
text-transform: none;
margin: 10px 0 0 0 ;
font-family: "Libre Franklin", sans-serif;
    font-weight: 500;
}
.navbar .dropdown-menu a:hover{
    color: var(--primary-color);
    background-color: var(--backround-color) !important;
}
.navbar .nav-link{
    color: black !important;
}
.navbar .nav-link:hover{
    color: var(--secondary-color) !important;
    text-decoration: underline;
}

main h4{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin: 80px 0 80px;
}
main h4:hover{
    color: var(--primary-color);
}
main .project-title{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
}
main p{
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
main img{
    transition: all 200ms ease-in-out;
}
main img:hover{
    transform: scale(1.1);
}

main #contact-me-button{
   margin-top: 150px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    display:block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: none;
    background-color: var(--secondary-color);
    transition: all 200ms ease-in-out;
}
main #contact-me-button:hover{
    background-color: var(--primary-color);
    color: var(--backround-color);
}
main #launch-app-button{
    font-family: "Libre Franklin", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: white;
    display:block;
    padding: 10px 20px 10px 20px;
    border-radius: 24px;
    border: none;
    background-color: var(--primary-color);
    transition: all 200ms ease-in-out;
}
main #launch-app-button:hover{
    background: none;
    color: var(--secondary-color);
    text-decoration: underline;
}

footer{
    margin-top: 80px;
    margin-bottom: 100px;
    
}
hr{
    border: 1px solid black;
    opacity: 1;
}
#container-2 ul{
    list-style: none;
    text-align: end;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
footer ul a{
    text-decoration: none;
    color: black;
}
footer ul a:hover{
    color: var(--secondary-color);
}

#social-media-container .link{
    transition: all 200ms ease-in-out;
}
#social-media-container .link:hover{
    transform: scale(1.1);
}
.poem-container{
    text-align: center;
    margin: 50px 40% 30px 40%;
    font-style: italic;
   }


@media screen and (max-width: 576px) {
    body{ margin-left: 1.5%;
     margin-right: 1.5%;
     margin-top: 20px;
 }
 .navbar{
     
    margin-left: 1.5%;
 }
 #container-2 ul{
    display: none;
 }
 
 }
 @media screen and (max-width: 1200px) {
    .poem-container{
        margin: 50px ;
        
     }
 }

   
   @media (max-width: 800px){
    h1{
        font-size: 45px;
        
     }
     h2{
        font-size: 35px;
        margin-top: 10px;

     }
     h3{
        margin-top: 10px;
        font-size: 25px;
     }
     
     #poem-img{
        display: none;
    }
    main #contact-me-button{
        margin-top: 40px;
        font-size: 12px;
        color: white;
        display:block;
        height: 85px;
        width: 85px;
        border-radius: 50%;
    }
    .row #project:hover{
        border: 2px solid #dea0c1;
        border-radius: 24px;

        
    }
    main #launch-app-button{
        margin-bottom: 20px;
    }
   
   }
   @media (max-width:960px){
    main h4{
        font-size: 25px;
        margin-top: 60px;
        margin-bottom: 20px;
     }
     main .project-title{
        margin-top: 20px;
        font-size: 20px;
        
     }
     main p{
        font-size: 12px;
    }
     .poem-container{
   
        font-size: 10px;
     }
   }
   @media (min-width:800px){
    main #launch-app-button{
        display: none;
    }
    
   }
   